<% layout("/layouts/boilerplate") %>
<body>
    <div class="row mt-3">
     <div class="col-8 offset-2">
    <h1>Create a new Listing</h1>
    <br><br>
    <form method="post" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="mb-3">
            <label class="form-label" for="title">Title</label>
            <input type="text" name="listing[title]" placeholder="Enter title" class="form-control" required>    
         <div class="valid-feedback">Title looks good</div>
         <div class="invalid-feedback">Enter a valid title</div>
        </div>
       
        
        <div class="mb-3">
            <label class="form-label" for="description">Description</label>
            <textarea name="listing[description]" placeholder="Enter description"class="form-control" required></textarea>
            <div class="invalid-feedback">Enter a suitable description</div>
        </div>

        <div class="mb-3">
            <label class="form-label" for="image">Upload Listing Image</label>
            <input type="file" name="listing[image]" class="form-control" required>
        </div>

        <div class="row">
            <div class="mb-3 col-md-4">
                <label class="form-label" for="price">Price</label>
                <input type="number" name="listing[price]" placeholder="Enter Price"class="form-control" required>
                <div class="invalid-feedback">Please provide a valid price</div>
            </div>
       
            <div class="mb-3 col-md-8">
                <label class="form-label" for="location">Location</label>
                <input type="text" name="listing[location]" placeholder="Enter location"class="form-control" required>
                <div class="invalid-feedback">Enter a valid location</div>
            </div>
            
        </div>
        
        <div class="mb-3">
            <label class="form-label" for="country">Country</label>
            <input type="text" name="listing[country]" placeholder="Enter country"class="form-control" required>
            <div class="invalid-feedback">Country name should be valid</div>
        </div>
        
        
        <button class="add-btn">Add</button>
        <br><br><br>
    </form>
</div>
</div>
</body>
