<% layout("/layouts/boilerplate") %>

<div class="row mt-3">
    <h1 class="col-6 offset-3">SignUp on WanderLust</h1>
    <div class="col-6 offset-3">
        <form action="/signup" method="post" class="needs-validation" novalidate>

            <div class="mb-3">
                <label class="form-label" for="username">Username</label>
                <input type="text" name="username" id="username" placeholder="Enter username" class="form-control" required>    
             <div class="valid-feedback">username is valid</div>
             <div class="invalid-feedback">Enter a valid username</div>
            </div>

            <div class="mb-3">
                <label class="form-label" for="email">Email</label>
                <input type="email" name="email" id="email" placeholder="Enter email" class="form-control" required>    
             <div class="valid-feedback"></div>
             <div class="invalid-feedback">Enter a valid Email address</div>
            </div>

            <div class="mb-3">
                <label class="form-label" for="password">Password</label>
                <input type="password" name="password" id="password" placeholder="Create a Password" class="form-control" required>    
            </div>

            <button class="btn btn-success">SignUp</button>
        </form>
    </div>
</div>